<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>扫码之后的注册</title>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body class="container" style="background-color: #00CCFF">
	<br>
   <br>
   <br>
   <br>
	<h3 class="text-center">欢迎注册梦云智教务辅助系统</h3>
	<h3 class="text-center">您现在位于<u>A106教室</u></h3>
	<h3 class="text-center">使用本系统前，您需要注册</h3>
	<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">学号</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword3" placeholder="">
    </div>
  </div>
  <!-- <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div> -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 text-center">

      <button type="submit" class="btn btn-default" style="width: 6em;" ><a href="index.html">注册</a></button>
      
      <!--  <button type="submit" onclick="window.location.href='/index.html'" class="btn btn-default" style="width: 6em;" >注册</button> -->
    </div>
  </div>
</form>
</body>

</html>