{extend name="menu"/}
{block name="title"}
课程管理
{/block}
{block name="search"}{/block}
{block name="search1"}{/block}
{block name="Add"}{/block}
{block name="content"}
<?php $time = date('Y-m-d'); ?>
<br>
<table class="table table-hover table-bordered" style="200px;">
    <td>{$Course->name}:已签学生名单：</td>
    <td>
        <form action="{:url('fileExportGrade?classCourseId=' . $ClassCourse->id)}">
            <button class="btn btn-warning"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;导出表单</button>
    </td>
    </form>
    </td>
</table>
<hr>
<table class="table table-hover table-bordered" style="margin-bottom: 70px;">
    <tr class="info">
        <th>序号</th>
        <th>学生姓名</th>
        <th>学生学号</th>
        <th>学生性别</th>
        <th>加减分情况</th>
        <th>上课时间</th>
        <th>签到结果</th>
    </tr>
    {volist name="classDetails" id="_classDetail" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_classDetail->student->name}</td>
        <td>{$_classDetail->student->num}</td>
        <td>{eq name="_classDetail->student->sex" value='0'}男{else /}女{/eq}</td>
        <td>{$_classDetail->aod_num}分</td>
        <td>
            <?php echo(date('Y/m/d G:i',$_classDetail->create_time)); ?>
        </td>
        <td>
            {eq name="_classDetail->seat_id" value="-1"}成功{else/}{gt name="_classDetail->create_time" value='_classDetail->classCourse->sign_deadline_time'}<span class="label label-danger">未成功</span>{else /}成功{/gt}{/eq}
        </td>
    </tr>
    {/volist}
</table>
{:$classDetails->render()}
<table class="table table-hover table-bordered" style="200px;">
    <td>{$Course->name}:未签到学生:{:sizeof($students)}人</td>
    <td>
        <form action="{:url('fileExportSign?courseId=' . $Course->id . '&classCourseId=' . $ClassCourse->id)}">
            <button class="btn btn-warning"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;导出表单</button>
        </form>
    </td>
</table>
<hr>
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>学生姓名</th>
        <th>学生学号</th>
        <th>学生性别</th>
    </tr>
    {volist name="students" id="_student" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_student->name}</td>
        <td>{$_student->num}</td>
        <td>{eq name="$_student->sex" value='0'}男{else /}女{/eq}</td>
    </tr>
    {/volist}
</table>
{/block}
{/block}