{extend name="menu"/}
{block name="title"}
课程管理
{/block}
{block name="search"}{/block}
{block name="search1"}{/block}
{block name="content"}
<table class="table table-hover table-bordered" style="margin-top: 50px;">
    <td>{$course->name}:已上课学生：{:$signNumber}人</td>
    <td>
        <div>
            <a class="btn btn-sm btn-primary" href="{:url('PreClass/index?classroomId=' . $Classroom->id . '&course_id=' . $course->id)}"><i class="
glyphicon glyphicon-arrow-up"></i>&nbsp;返回</a>
    </td>
    </div>
</table>
<table class="table table-hover table-bordered" style="">
    <tr class="info">
        <th>序号</th>
        <th>学生姓名</th>
        <th>学生学号</th>
        <th>签到状态</th>
        <th>上课时间</th>
    </tr>
    {volist name="ClassDetails" id="_ClassDetail" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_ClassDetail->student->name}</td>
        <td>{$_ClassDetail->student->num}</td>
        <td>{eq name="_ClassDetail->seat_id" value="-1"}成功{else /}{gt name="_ClassDetail->create_time" value='$Classroom->sign_deadline_time'}<span class="label label-danger">迟到</span>{else /}成功{/gt}{/eq}</td>
        <td>
            <?php echo(date('Y/m/d G:i',$_ClassDetail->create_time)); ?>
        </td>
    </tr>
    {/volist}
</table>
{:$ClassDetails->render()}
<table class="table table-hover table-bordered" style="200px;">
    <td>未上课学生名单:</td>
</table>
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>学生姓名</th>
        <th>学生学号</th>
        <th>操作</th>
    </tr>
    {volist name="Students" id="_student" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_student->name}</td>
        <td>{$_student->num}</td>
        <td><a class="btn btn-sm btn-primary" href="{:url('signUpdate?studentId=' . $_student->id . '&classCourseId=' . $ClassCourse->id)}"><i class="glyphicon glyphicon-ok"></i>&nbsp;改签</a></td>
    </tr>
    {/volist}
</table>
{/block}
{/block}