<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>{block name="title"}学生{/block}</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body class="container">

    <!--菜单导航-->
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <!--Collect the nav links,forms,and other contend for toggling-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="http://www.mengyunzhi.com">梦云智</a>
                        </div>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="navbar-brand" href="#">Welcome to Micro-course</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </div>
            <!--/.container-fluid-->
        </nav>
    </div>
</div>
<table class="table table-hover table-bordered" style="margin-top: 40px;">
    <tr class="info">
        <th>序号</th>
        <th>课程名称</th>
        <th>上课地点</th>
        <th>签到时间</th>
    </tr>
    {volist name="classDetails" id="_classDetail" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_classDetail->classCourse->course->getData('name')}</td>
        <td>{$_classDetail->classCourse->classroom->name}</td>
        <td><?php echo(date('Y/m/d G:i',$_classDetail->create_time)); ?></td>
    </tr>
    {/volist}
</table>
{$classDetails->render()} 
</body>

</html>