{extend name="menu"/}
{block name="title"}
课程展示
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>课程名称</th>
        <th>上课地点</th>
        <th>签到时间</th>
    </tr>
    {volist name="classDetails" id="_classDetail" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_classDetail->classCourse->course->getData('name')}</td>
        <td>{$_classDetail->classCourse->classroom->name}</td>
        <td><?php echo(date('Y/m/d G:i',$_classDetail->create_time)); ?></td>
    </tr>
    {/volist}
</table>
{$classDetails->render()} 
{/block}
{block name="page"}
{/block}