<!DOCTYPE HTML>
<html>

<head>
    <title>微信端Login</title>
    <!-- Custom Theme files -->
    <link href="__PUBLIC__/static/bootstrap-3.3.7-dist/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <!--Google Fonts-->
    <link href='http://fonts.useso.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <!--Google Fonts-->
</head>

<body style="background-color: grey">
    <form action="{:url('Login/wxTeacher')}" method="post">
        <div class="login">
            <h2>微课堂</h2>
            <div class="login-top">
                <h1>请注册</h1>
                    <label class="col-sm-2 control-label" style="font-size: 20px;">姓名:</label><input type="text" name="name" id="name" value="{:$name}" />
                    <label class="col-sm-2 control-label" style="font-size: 20px;">用户名:</label><input type="text" name="username" id="username" value="{:$username}" />
                    <input type="hidden" name="classroomId" id="classroomId" value="{:$classroomId}" />
                    <label class="col-sm-2 control-label" style="font-size: 20px;">密码:</label><input type="password" name="password" id="password" value="{:$password}" />
                <div class="forgot">
                    <input type="submit" value="注册">
                </div>
            </div>
            <div class="login-bottom">
                <h3>梦云智欢迎你 &nbsp;<a href="#">welcome</a>&nbsp </h3>
            </div>
        </div>
        <div class="copyright">
            <p>创建 &copy; 于 2020  梦云智</a></p>
        </div>
    </form>
</body>

</html>