{extend name="wxindex"/}
{block name="title"}
加减分
{/block}
{block name="search"}
{/block}
{block name="search1"}
{/block}
{block name="content"}
<form class="form-horizontal" action="{:url('update')}" method="post">
    <div class="form-group">
        <label for="major" class="col-sm-2 control-label" style="font-size: 20px;">姓名:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{$Student->name}" />
            <input class="form-control" type="hidden" name="gradeId" value="{$Grade->id}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" style="font-size: 20px;">
            学号:
        </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{$Student->getData('num')}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" style="font-size: 20px;">
            性别:
        </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{eq name=" $Student->getData('sex')" value='0'}男{else /}女{/eq}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" style="font-size: 20px;">
            加减分选择:
        </label>
        <div class="col-sm-10">
            <select class="form-control" name="aodNum" id="gradeaod">
                {volist name="gradeAods" id="_gradeaod" }
                <option value="{$_gradeaod->aod_num}" {eq name="$_gradeaod->aod_num" value="$_gradeaod->aod_num" } selected="selected" {/eq}>{$_gradeaod->aod_name} </option> {/volist} </select> <br>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10" style="margin-top: 25px;">
                            <button type="submit" class="btn btn-default glyphicon glyphicon-ok">提交</button>
                        </div>
                    </div>
        </div>
</form>
{/block}
{block name="page"}
{/block}