{extend name="wxindex"/}
{block name="title"}
教师管理
{/block}
{block name="search"}
<div class="row" style="margin-top: 20px;">
    <div class="col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <input name="name" type="text" class="form-control" placeholder="课程名称..." value="{:input('get.name')}">
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
        </form>
        <div style="float: right;">
            <a href="{:url('add')}" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</button></a></div>
    </div>
</div>
{/block}
{block name="Add"}
{/block}
{block name="search1"}
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>课程名称</th>
        <th>学生人数</th>
        <th>操作</th>
    </tr>
    {eq name="courseId" value='0'}
    {volist name="courses" id="_course" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_course->getData('name')}</td>
        <td>{$_course->student_num}</td>
        <td><a href="{:url('inClass?courseId=' . $_course->id . '&classroomId=' . $Teacher->classroom_id)}"><button class="btn btn-success" onClick="return confirm('温馨提示：签到时间、下课时间和学生上课情况详情请登录系统web端。请在较早时期导入学生信息，确定上课名单');"><i class="glyphicon glyphicon-ok"></i>&nbsp;上课</button></a></td>
    </tr>
    {/volist}
    {else /}
    {volist name="courses" id="_course" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_course->getData('name')}</td>
        <td>{$_course->student_num = sizeof($_course->Students)}</td>
        <td>{eq name="courseId" value="$_course->id"}
            <a href="{:url('afterclass?courseId=' . $_course->id . '&classroomId=' . $Teacher->classroom_id)}"  class="btn btn-danger  btn-sm " onClick="return confirm('手机端下课不能导出本节课学生信息的表单，确定下课？');">
                <i class="glyphicon glyphicon-off">
                </i>&nbsp;下课
            </a>
            {else /}
            <a href="{:url('inClass?courseId=' . $_course->id . '&classroomId=' . $Teacher->classroom_id)}" class="btn btn-success btn-sm disabled">
                <i class="glyphicon glyphicon-ok" style="cursor: default;"></i>
            &nbsp;上课
        </a>
    {/eq}
</td>
    </tr>
    {/volist}{/eq}
</table>
{$courses->render()}
{/block}
{block name="page"}
{/block}