{extend name="wxindex"/}
{block name="title"}
课程管理
{/block}
{block name="search"}{/block}
{block name="search1"}
{/block}
{block name="Add"}
{/block}
{block name="content"}
<?php $time = date('Y-m-d'); ?>
<br>
<table class="table table-hover table-bordered" style="margin-top: -5px;">
    <td>{$Course->name}:已上课学生名单:</td>
    </td>
</table>
<hr>
<table class="table table-hover table-bordered" style="margin-bottom: 70px;">
    <tr class="info">
        <th>序号</th>
        <th>学生姓名</th>
        <th>学生学号</th>
        <th>签到时间</th>
        <th>签到结果</th>
    </tr>
    {volist name="classDetails" id="_classDetail" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_classDetail->student->name}</td>
        <td>{$_classDetail->student->num}</td>
        <td>
            <?php echo(date('m/d G:i',$_classDetail->create_time)); ?>
        </td>
        <td>
            {eq name="_classDetail->seat_id" value="-1"}成功{else/}{lt name="_classDetail->create_time" value='_classDetail->classCourse->sign_deadline_time'}<span class="label label-danger">未成功</span>{else /}成功{/lt}{/eq}
        </td>
    </tr>
    {/volist}
</table>
{:$classDetails->render()}
<table class="table table-hover table-bordered" style="200px;">
    <td>{$Course->name}:未上课学生:{:sizeof($unSigns)}人</td>
</table>
<hr>
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>学生姓名</th>
        <th>学生学号</th>
        <th>操作</th>
    </tr>
    {volist name="unSigns" id="_student" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_student->name}</td>
        <td>{$_student->num}</td>
        <td><a class="btn btn-sm btn-primary" href="{:url('signUpdate?studentId=' . $_student->id . '&classCourseId=' . $ClassCourse->id)}"><i class="glyphicon glyphicon-ok"></i>&nbsp;改签</a></td>
    </tr>
    {/volist}
</table>
{/block}
{/block}