{extend name="wxindex"/}
{block name="title"}
加减分
{/block}
{block name="search"}<div style="margin-top: 40px;"><label class="sr-only" for="name">姓名</label>
    <input name="name" type="text" class="form-control" placeholder="学生学号..." value="{:input('get.name')}"></div>{/block}
{block name="Add"}{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>学生姓名</th>
        <th>学生学号</th>
        <th>操作</th>
    </tr>
    {volist name="seats" id="_Seat" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_Seat->student->name}</td>
        <td>{$_Seat->student->num}</td>
        <td><a class="btn btn-sm btn-primary" href="/index/Teacherwx/gradechange?seatId={$_Seat->id}&aodState=1&courseId={$Course->id}"><i class="glyphicon glyphicon-plus"></i>&nbsp;加分</a>&nbsp;
            <a class=" btn btn-danger btn-sm" href="/index/Teacherwx/gradechange?seatId={$_Seat->id}&aodState=0&courseId={$Course->id}"><i class="glyphicon glyphicon-minus"></i>&nbsp;减分</a></td>
    </tr>
    {/volist}
</table>
{:$seats->render()}
{/block}
{block name="page"}
{/block}