<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>新增数据</title>
</head>

<body class="contanier">
    <div class="row">
        <div class="col-md-12">
                <label>姓名:</label>
                <input type="text" name="name" />
                <label>学号:</label>
                <input type="text" name="username" />
                <label>班级:</label>
                <input type="text" name="username" />
                <label>平时成绩:</label>
                <input type="text" name="username" />
                <label>期末成绩:</label>
                <input type="text" name="username" />
                <label>总成绩:</label>
                <input type="text" name="username" />
                <button type="submit"><a href="student.html">保存</a></button>
            </form>
        </div>
    </div>
</body>

</html>