<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>管理员系统</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="zuowei.css">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">梦云智</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="shouye.html">学期管理</a></li>
                                <li><a href="yonghu.html">用户管理</a></li>
                                <li><a href="zuowei1.html">教室管理</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">注销</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    <div class="container">
        <h4 style="align-content: center;padding-left: 550px;margin-top: 50px;">A101</h4>
        <table class="table table-bordered">
            <tr>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">096</a>
                </td>
                <td>
                    <a href="QR">095</a>
                </td>
                <td>
                    <a href="QR">094</a>
                </td>
                <td>
                    <a href="QR">093</a>
                </td>
                <td>
                    <a href="QR">092</a>
                </td>
                <td>
                    <a href="QR">091</a>
                </td>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">090</a>
                </td>
                <td>
                    <a href="QR">089</a>
                </td>
                <td>
                    <a href="QR">087</a>
                </td>
                <td>
                    <a href="QR">086</a>
                </td>
                <td>
                    <a href="QR">085</a>
                </td>
                <td>
                    <a href="QR">084</a>
                </td>
                <td>
                    <p> </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">083</a>
                </td>
                <td>
                    <a href="QR">082</a>
                </td>
                <td>
                    <a href="QR">081</a>
                </td>
                <td>
                    <a href="QR">080</a>
                </td>
                <td>
                    <a href="QR">079</a>
                </td>
                <td>
                    <a href="QR">078</a>
                </td>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">077</a>
                </td>
                <td>
                    <a href="QR">076</a>
                </td>
                <td>
                    <a href="QR">075</a>
                </td>
                <td>
                    <a href="QR">074</a>
                </td>
                <td>
                    <a href="QR">073</a>
                </td>
                <td>
                    <a href="QR">072</a>
                </td>
                <td>
                    <p> </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">071</a>
                </td>
                <td>
                    <a href="QR">070</a>
                </td>
                <td>
                    <a href="QR">069</a>
                </td>
                <td>
                    <a href="QR">068</a>
                </td>
                <td>
                    <a href="QR">067</a>
                </td>
                <td>
                    <a href="QR">066</a>
                </td>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">065</a>
                </td>
                <td>
                    <a href="QR">064</a>
                </td>
                <td>
                    <a href="QR">063</a>
                </td>
                <td>
                    <a href="QR">062</a>
                </td>
                <td>
                    <a href="QR">061</a>
                </td>
                <td>
                    <a href="QR">060</a>
                </td>
                <td>
                    <p> </p>
                </td>
            </tr>
        </table>
        <table class="table table-bordered">
            <tr>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">059</a>
                </td>
                <td>
                    <a href="QR">058</a>
                </td>
                <td>
                    <a href="QR">057</a>
                </td>
                <td>
                    <a href="QR">056</a>
                </td>
                <td>
                    <a href="QR">055</a>
                </td>
                <td>
                    <a href="QR">054</a>
                </td>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">053</a>
                </td>
                <td>
                    <a href="QR">052</a>
                </td>
                <td>
                    <a href="QR">051</a>
                </td>
                <td>
                    <a href="QR">050</a>
                </td>
                <td>
                    <a href="QR">049</a>
                </td>
                <td>
                    <a href="QR">048</a>
                </td>
                <td>
                    <p> </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">047</a>
                </td>
                <td>
                    <a href="QR">046</a>
                </td>
                <td>
                    <a href="QR">045</a>
                </td>
                <td>
                    <a href="QR">044</a>
                </td>
                <td>
                    <a href="QR">043</a>
                </td>
                <td>
                    <a href="QR">042</a>
                </td>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">041</a>
                </td>
                <td>
                    <a href="QR">040</a>
                </td>
                <td>
                    <a href="QR">039</a>
                </td>
                <td>
                    <a href="QR">038</a>
                </td>
                <td>
                    <a href="QR">037</a>
                </td>
                <td>
                    <a href="QR">036</a>
                </td>
                <td>
                    <p> </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">035</a>
                </td>
                <td>
                    <a href="QR">034</a>
                </td>
                <td>
                    <a href="QR">033</a>
                </td>
                <td>
                    <a href="QR">032</a>
                </td>
                <td>
                    <a href="QR">031</a>
                </td>
                <td>
                    <a href="QR">030</a>
                </td>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">029</a>
                </td>
                <td>
                    <a href="QR">028</a>
                </td>
                <td>
                    <a href="QR">027</a>
                </td>
                <td>
                    <a href="QR">026</a>
                </td>
                <td>
                    <a href="QR">025</a>
                </td>
                <td>
                    <a href="QR">024</a>
                </td>
                <td>
                    <p> </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">023</a>
                </td>
                <td>
                    <a href="QR">022</a>
                </td>
                <td>
                    <a href="QR">021</a>
                </td>
                <td>
                    <a href="QR">020</a>
                </td>
                <td>
                    <a href="QR">019</a>
                </td>
                <td>
                    <a href="QR">018</a>
                </td>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">017</a>
                </td>
                <td>
                    <a href="QR">016</a>
                </td>
                <td>
                    <a href="QR">015</a>
                </td>
                <td>
                    <a href="QR">014</a>
                </td>
                <td>
                    <a href="QR">013</a>
                </td>
                <td>
                    <a href="QR">012</a>
                </td>
                <td>
                    <p> </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">011</a>
                </td>
                <td>
                    <a href="QR">010</a>
                </td>
                <td>
                    <a href="QR">009</a>
                </td>
                <td>
                    <a href="QR">008</a>
                </td>
                <td>
                    <a href="QR">007</a>
                </td>
                <td>
                    <a href="QR">006</a>
                </td>
                <td>
                    <p> </p>
                </td>
                <td>
                    <a href="QR">005</a>
                </td>
                <td>
                    <a href="QR">004</a>
                </td>
                <td>
                    <a href="QR">003</a>
                </td>
                <td>
                    <a href="QR">002</a>
                </td>
                <td>
                    <a href="QR">001</a>
                </td>
                <td>
                    <a href="QR">000</a>
                </td>
                <td>
                    <p> </p>
                </td>
            </tr>
        </table>
        <div class="table table-bordered">
            <h4 style="padding-left: 550px;">讲台</h4>
        </div>
    </div>
    </div>
    </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>

</html>