<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>管理员系统</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="shouye.css">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">梦云智</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="yonghu.html">学期管理</a></li>
                                <li><a href="yonghu.html">用户管理</a></li>
                                <li><a href="zuowei1.html">教室管理</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">注销</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="name">学生姓名</label>
                        <input name="name" type="text" class="form-control" placeholder="姓名/学号…">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                </form>
            </div>
            <div class="col-md-4 text-right">
                <a href="add.html" class="btn btn-primary"><i class="g
lyphicon glyphicon-plus"></i>&nbsp;增加</a>
            </div>
        </div>
        <hr />
        <table class="table table-bordered table-hover">
            <tr class="info">
                <th>
                    <p>姓名</p>
                </th>
                <th>
                    <p>学号</p>
                </th>
                <th>
                    <p>班级</p>
                </th>
                <th>
                    <p>平时成绩</p>
                </th>
                <th>
                    <p>期末成绩</p>
                </th>
                <th>
                    <p>总成绩</p>
                </th>
                <th>
                    <p>操作</p>
                </th>
            </tr>
            <tr>
                <td>
                    <p>张三</p>
                </td>
                <td>
                    <p>190000</p>
                </td>
                <td>
                    <p>软件191</p>
                </td>
                <td>
                    <p>90</p>
                </td>
                <td>
                    <p>90</p>
                </td>
                <td>
                    <p>90</p>
                </td>
                <td>
                    <p><a style="margin-left: 10px;" href="s-add">编辑</a>
                        <a style="margin-left: 10px;" href="{:url('delete?id=' . $_teacher->getData('id'))}">删除</a></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>李四</p>
                </td>
                <td>
                    <p>190001</p>
                </td>
                <td>
                    <p>计191</p>
                </td>
                <td>
                    <p>95</p>
                </td>
                <td>
                    <p>95</p>
                </td>
                <td>
                    <p>95</p>
                </td>
                <td>
                    <p><a style="margin-left: 10px;" href="">编辑</a>
                        <a style="margin-left: 10px;" href="">删除</a></p>
                </td>
            </tr>
        </table>
    </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>

</html>