{extend name="menu"/}
{block name="title"}
成绩编辑
{/block}
{block name="search"}{/block}
{block name="search1"}{/block}
{block name="content"}
    <div class="row">
        <div class="col-md-12">
            {php}$action=request()->action()==='add'?'update':'update';{/php}
            <form class="form-horizontal" action="{:url($action)}" method="post">
                <table class="table table-hover table-bordered">
                    <td>
                        <h2>基本信息:</h2>
                        <h3>课程 <span class="label label-default">{:$Grade->Course->name}</span></h3>
                        <h3>姓名 <span class="label label-default">{:$Grade->Student->name}</span></h3>
                        <h3>学号 <span class="label label-default">{:$Grade->Student->num}</span></h3>
                    </td>
                    <td>
                        <div class="col-md-4 text-right" style="float: right;margin-bottom: 30px;">
                            <a href="{:url('Gradeaod/add?courseId=' . $Classroom->Course->id . '&classroomId=' . $Classroom->id . '&studentId=' . $Student->id)}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;新增项</a>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="font-size: 20px;margin-top: 60px;padding-left: 30px;">
                                加减分项选择:
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" name="aodNum" id="gradeaod">
                                    {volist name="Gradeaods" id="_gradeaod" }
                                    <option value="{$_gradeaod->aod_num}" {eq name="$_gradeaod->aod_num" value="$_gradeaod->aod_num" } selected="selected" {/eq}>{$_gradeaod->aod_name} </option> {/volist} </select> <br>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10" style="margin-top: 15px;">
                                                <button type="submit" class="btn btn-default">保存</button>
                                            </div>
                                        </div>
                            </div>
                    </td>
            </form>
        </div>
    </div>
{/block}
{block name="page"}
{/block}