{extend name="wxstudent"/}
{block name="title"}
学生展示
{/block}
{block name="hr1"}

<div style="margin-top: 100px;">
<table class="table table-hover table-bordered" style="margin-top: 40px;">
    <tr class="info">
        <th>序号</th>
        <th>课程名称</th>
        <th>上课地点</th>
        <th>签到时间</th>
        <th>签到结果</th>
    </tr>
    {volist name="classDetails" id="_classDetail" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_classDetail->classCourse->course->getData('name')}</td>
        <td>{$_classDetail->classCourse->classroom->name}</td>
        <td><?php echo(date('Y/m/d G:i',$_classDetail->create_time)); ?></td>
        <td>{eq name="_classDetail->seat_id" value="-1"}成功{else/}{gt name="_classDetail->create_time" value='_classDetail->classCourse->sign_deadline_time'}<span class="label label-danger">迟到</span>{else /}成功{/gt}{/eq}</td>
    </tr>
    {/volist}
</table>
</div>
{$classDetails->render()} 
{/block}
{block name="page"}
{/block}