{extend name="wxstudent"/}
{block name="title"}
教师管理
{/block}
{block name="hr1"}
    <div style="margin-top: 100px;">
    <form class="form-horizontal" action="{:url('passwordUpdate')}" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label" style="font-size: 20px;">原密码:</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" name="oldPassword" value="{:$oldPassword}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="font-size: 20px;">新密码:</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" name="newPassword" value="{$newPassword}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="font-size: 20px;">密码确认:</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" name="newPasswordAgain" value="{$newPasswordAgain}" />
            </div>
        </div>
        <br>
            <div class="form-group" style="margin-left: auto;margin-right: auto;">
                    <button  type="submit" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i>&nbsp;确认</button>
            </div>
    </form>
    </div>
{/block}
{block name="page"}
{/block}