{extend name="menu"/}
{block name="title"}
课程管理
{/block}
{block name="content"}
<table class="table table-hover table-bordered" style="200px;">
    <td>{$Course->name}</td>
</table>
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>学生姓名</th>
        <th>学生学号</th>
        <th>学生性别</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>{$Student->name}</td>
        <td>{$Student->num}</td>
        <td>{eq name="Student->sex" value='0'}男{else /}女{/eq}</td>
        <td><a class="btn btn-sm btn-primary" href="{:url('Gradeaod/index?id=' . $Grade->Student->id. '&grade_id=' . $Grade->id. '&aod_id=1&course_id=' . $Course->id . '&onclass=' . 1)}">加分</a> &nbsp;&nbsp;<a class=" btn btn-danger btn-sm" href="{:url('Gradeaod/index?id=' . $Grade->Student->id. '&grade_id=' . $Grade->id. '&aod_id=0&course_id=' . $Course->id . '&onclass=' . 1)}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;减分</a></td>
    </tr>
</table>
{/block}
{/block}