<!--菜单导航-->
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <!--Collect the nav links,forms,and other contend for toggling-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="http://www.mengyunzhi.com">梦云智</a>
                        </div>
                        {volist name="menus" id="_menu"}
                        <li class="{$_menu->getClass()}"><a href="{:$_menu->getHref()}">{$_menu->title}</a></li>
                        {/volist}
                    </ul>
                    <ul class="nav nav-tabs navbar-nav navbar-right">
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                个人中心 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{:url('AfterLogin/logout')}">注销</a></li>
                                <li><a href="{:url('AfterLogin/passwordModification')}" target="_blank">修改密码</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </div>
            <!--/.container-fluid-->
        </nav>
    </div>
</div>