{extend name="index" \}
{extend name="index" /}
{block name="title"}
模板添加
{/block}
{block name="search"}
{/block}
{block name="search1"}
{/block}
{block name="hr1"}
{/block}
{block name="hr2"}
{/block}
{block name="Add"}
{/block}
{block name="content"}
<div class="container">
    <form action="{:url('save')}" method="post">
        <input type="hidden" name="id" value="{$SeatMap->id}">
        <input type="hidden" name="isFirst" value="{$SeatMap->is_first}">
        <div class="form-group">
            <label for="name" style="font-size: 20px;margin-top: 20px;">输入模板名称:</label>
            <input name="name" id="name" class="form-control" value="{$SeatMap->name}"/>
        </div>
        <div class="form-group">
            <label for="name" style="font-size: 20px;margin-top: 20px;">输入模板总行数:</label>
            <input name="xMap" id="xMap" class="form-control" value="{$SeatMap->x_map}" />
        </div>
        <div class="form-group">
            <label for="name" style="font-size: 20px;margin-top: 20px;">输入模板总列数:</label>
            <input name="yMap" id="yMap" class="form-control" value="{$SeatMap->y_map}"/>
        </div>
       <button type="submit" class="btn btn-primary glyphicon glyphicon-ok" style="margin-top: 20px">提交</button></a>
    </form>
</div>
{/block}