{extend name="index" \}
{block name="title"}
模板添加
{/block}
{block name="search"}
{/block}
{block name="search1"}
{/block}
{block name="hr1"}
{/block}
{block name="hr2"}
{/block}
{block name="Add"}
{/block}
{block name="content"}
<div class="container">
    <label style="font-size: 15px;">请根据需要选择过道或者座位：</label>
    <a class="btn btn-warning" href="{:url('add')}" style="float: right;"><p style="text-align: center;margin: auto;">重设模板</p></a>
    <hr>
    <table style="margin: auto;">
        <label class="container"><h3 style="text-align: center;">讲台</h3></label>
        {volist name="seatAisles" id="seatAisle" key="key"}
        {if($seatAisle->y === ($SeatMap->y_map-1))}
        <tr>
            {/if}
            <th>
                <a href="{:url('isSeat?id=' . $seatAisle->getData('id'))}">
                    {eq name='seatAisle->getData("state")' value='0'}
                    <button class="btn btn-info">座位<?php echo($seatAisle->x); echo($seatAisle->y) ?></button>{else /}
                    <button class="btn btn-default">过道<?php echo($seatAisle->x); echo($seatAisle->y) ?></button>{/eq}
                </a>
            </th>
            {if($seatAisle->y === 0)}
        </tr>
        {/if}
        {/volist}
    </table>
    <div style="margin-left: auto;margin-right: auto;">
        <a href="{:url('index')}"><button type="submit" class="btn btn-primary" style="margin-top: 20px" style="padding-right: auto;padding-left: auto;">submit</button></a></div>
</div>
{/block}