{extend name="index" \}
{block name="title"}
模板添加
{/block}
{block name="search"}
{/block}
{block name="search1"}
{/block}
{block name="hr1"}
{/block}
{block name="hr2"}
{/block}
{block name="Add"}
{/block}
{block name="content"}
<div class="container">
    <label style="font-size: 15px;">接下来你需要根据需要选择自己的过道：</label>
    <table>
        <tr>
            <th><a href=""><button class="btn btn-success" style="margin-right: 20px;margin-top: 20px">
                        <p style="color: black;padding-top: 5px">003</p>
                    </button></a></th>
            <th><a href=""><button class="btn btn-default" style="margin-right: 20px; margin-top: 20px">
                        <p style="color: black;padding-top: 5px;">000</p>
                    </button></a></th>
            <th><a href=""><button class="btn btn-success" style="margin-right: 20px; margin-top: 20px">
                        <p style="color: black;padding-top: 5px">004</p>
                    </button></a></th>
                    <th><a href=""><button class="btn btn-success" style="margin-right: 20px;margin-top: 20px">
                        <p style="color: black;padding-top: 5px">003</p>
                    </button></a></th>
            <th><a href=""><button class="btn btn-default" style="margin-right: 20px; margin-top: 20px">
                        <p style="color: black;padding-top: 5px;">000</p>
                    </button></a></th>
            <th><a href=""><button class="btn btn-success" style="margin-right: 20px; margin-top: 20px">
                        <p style="color: black;padding-top: 5px">004</p>
                    </button></a></th>
        </tr>
        <tr>
            <th><a href=""><button class="btn btn-success" style="margin-right: 20px;margin-top: 20px">
                        <p style="color: black;padding-top: 5px">003</p>
                    </button></a></th>
            <th><a href=""><button class="btn btn-default" style="margin-right: 20px; margin-top: 20px">
                        <p style="color: black;padding-top: 5px;">000</p>
                    </button></a></th>
            <th><a href=""><button class="btn btn-success" style="margin-right: 20px; margin-top: 20px">
                        <p style="color: black;padding-top: 5px">004</p>
                    </button></a></th>
                    <th><a href=""><button class="btn btn-success" style="margin-right: 20px;margin-top: 20px">
                        <p style="color: black;padding-top: 5px">003</p>
                    </button></a></th>
            <th><a href=""><button class="btn btn-default" style="margin-right: 20px; margin-top: 20px">
                        <p style="color: black;padding-top: 5px;">000</p>
                    </button></a></th>
            <th><a href=""><button class="btn btn-success" style="margin-right: 20px; margin-top: 20px">
                        <p style="color: black;padding-top: 5px">004</p>
                    </button></a></th>
        </tr>
    </table>
    <div style="margin-left: auto;margin-right: auto;">
    <a href="{:url('index')}"><button type="submit" class="btn btn-default" style="margin-top: 20px" style="padding-right: auto;padding-left: auto;">submit</button></a></div>
</div>
{/block}
