{extend name="index" /}
{block name="title"}
座位图模板管理
{/block}
{block name="search"}
<label class="sr-only" for="name">模板名称</label>
<input type="text" name="name" class="form-control" placeholder="模板名称…" value="{:input('get.name')}">
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>模板名称</th>
        <th>总行数</th>
        <th>总列数</th>
        <th>操作</th>
    </tr>
    {volist name="seatMaps" id="SeatMap" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$SeatMap->name}</td>
        <td>{$SeatMap->x_map}</td>
        <td>{$SeatMap->y_map}</td>
        <td>
            <a class="btn btn-success btn-sm" href="{:url('template?id=' . $SeatMap->id)}">
                <i class="glyphicon glyphicon-eye-open"></i>
                &nbsp;查看模板
            </a>
            <a class="btn btn-sm btn-primary" href="{:url('add?id=' . $SeatMap->getData('id'))}" onClick="return confirm('对应此模板的教室座位将被重置，确定编辑？');"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
            <a class="btn btn-danger btn-sm" href="{:url('delete?id=' . $SeatMap->id)}" onClick="return confirm('对应此模板的教室也将被删除，确定删除？');">
                <i class="glyphicon glyphicon-trash"></i>
                &nbsp;删除
            </a>
        </td>
        {/volist}
    </tr>
</table>
{/block}
{block name="render"}
{$seatMaps->render()}
{/block}