<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{block name="title"}标题{/block}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="">
</head>

<body class="container">
    <?php use app\common\view\MenuView; ?>
    <?php $MenuView = new MenuView; ?>
    <?php echo $MenuView->render(); ?>
    <div class="row">
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    {block name="search"}
                    <label class="sr-only" for="name">姓名</label>
                    <input name="name" type="text" class="form-control" placeholder="学期名..." value="{:input('get.name')}">
                    {/block}
                </div>
                {block name="search1"}
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                {/block}
            </form>
        </div>
        <div class="row">
            <hr style="margin-top: 50px;">
            <br>
            <?php $url1 = 'classroomId=' . $classroomId . '&classroomName=' . $classroomName; ?>
            {eq name="$match" value=""}
            
            {else/}
            <a href="{:url($url . '?' . $url1 . '&seatMapId=' . $SeatMap->id)}" class="btn btn-danger" style="float: right;"><i class="glyphicon glyphicon-plus"></i>&nbsp;选择此模板</a>
            {/eq}
        </div>
        <h3 style="margin-left: 545px;margin-bottom: 50px;">
            <?php echo('模板' . $SeatMap->getData('id')) ?>
            <hr>
            <p style="color: green;">讲台</p>
        </h3>
        <div class="container">
            <table class="table table-bordered table-condensed ">
                {volist name="seatAisles" id="seatAisle" key="key"}
                {if($seatAisle->y === ($SeatMap->y_map-1))}
                    <tr>
                {/if}
                
                    {eq name='seatAisle->getData("state")' value='0'}
                    <td class="success" style="padding-left: 10px;padding-right: 10px;">{$key}</td>{else /}
                    <td style="padding-left: 10px;padding-right: 10px;">{$key}</td>{/eq}
                
                
                {if($seatAisle->y === 0)}
                </tr>
                {/if}
                {/volist}
            </table>
        </div>
        <hr>
        <?php $i = 0; ?>
        <?php for(; $seatMap1[$i]->id != $SeatMap->id; $i++); ?>

        <div class="row">
            <!-- 既不是第一个也不是最后一个模板 -->
            {if($SeatMap->is_last != 1 && $SeatMap->is_first != 1)}
            <?php $id1 = $seatMap1[$i-1]->id;
            $id2 = $seatMap1[$i+1]->id; ?>
            {/if}
            <!-- 最后一个模板 -->
            {if($SeatMap->is_last ===  1 && $SeatMap->is_first != 1)}
            <?php $id1 = $seatMap1[$i-1]->id;
            $id2 = -2; ?>
            {/if}
            <!-- 第一个模板 -->
            {if ($SeatMap->is_first ===  1 && $SeatMap->is_last != 1)}
            <?php $id1 = -1;
            $id2 = $seatMap1[$i+1]->id; ?>
            {/if}
            {if ($SeatMap->is_first ===  1 && $SeatMap->is_last ===  1)}
            <?php $id1 = $SeatMap->id;
            $id2 = $SeatMap->id; ?>
            {/if}
            <a href="{:url('template?id=' . $id1 . '&' . $url1 . '&match=' . $match)}" class="btn btn-primary " style="float: left;">
                <i class="glyphicon glyphicon-hand-right"></i>
                &nbsp;上一个模板
            </a>
            <a href="{:url('template?id=' . $id2 . '&classroomId=' . $classroomId . '&match=' . $match . '&classroomName=' . $classroomName)}" class="btn btn-primary " style="float: right;">
                <i class="glyphicon glyphicon-hand-right "></i>
                &nbsp;下一个模板
            </a>
        </div>
    </div>
</body>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

</html>