{extend name="index" /}
{block name="title"}
{/block}
{block name="hr1"}
{/block}
{block name="hr2"}
{/block}
{block name="search"}
{/block}
{block name="search1"}
{/block}
{block name="Add"}
{/block}
{block name="content"}
<div id="app-5" class="container" style="margin-top: 40px">
    <div class="row">
        <div class="col-md-12">
            {php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
            <form action="{:url($action)}" method="post">
                <div class="form-group">
                    <input type="hidden" name="id" value="{$Classroom->id}">
                    <label for="name">教室编号</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="教室编号" value="{$Classroom->name}">
                </div>
                <hr>
                <a class="btn btn-success" v-on:click="url" :href="message" style="margin-top: 20px;">
                    <i class="glyphicon glyphicon-hand-right">
                    </i>&nbsp;查看模板
                </a>
                <hr>
                <div class="form-group">
                    <label for="seat_map_id">对应模板编号</label>
                    <select class="form-control" name="seat_map_id" value="">
                        {volist name="seatMaps" id="SeatMap" key="key"}
                        <option value="{$SeatMap->id}" {eq name="SeatMap->getData('id')" value="$Classroom->getData('seat_map_id')" } selected="selected" {/eq}> {$SeatMap->id}
                        </option>
                        {/volist}
                    </select>
                </div>
                <button type="submit" c>保存</button>
            </form>
            {eq name="$action" value="save"}
            {else/}
            <a class="btn btn-primary" href="{:url('seatMapChange?id=' . $Classroom->id)}" style="margin-top: 20px;">
                <i class="glyphicon glyphicon-hand-right"></i>&nbsp;更改本教室座位图
            </a>
            {/eq}
        </div>
    </div>
</div>
<script type="text/javascript">
var app5 = new Vue({
    el: '#app-5',
    data: {
        message: ''
    },

    methods: {
        url: function() {
            console.log('触发url方法');
            var classroomName = document.getElementById("name").value;
            var str = '{:url("SeatMap/template?classroomId=" . $Classroom->id)}';
            console.log(str);
            var temp = str.slice(0, -5);
            console.log(temp);
            if (classroomName) {
                temp = temp + '/classroomName/' + classroomName;
            }
            temp = temp + '.html';
            console.log(temp);
            this.message = temp;
        }
    }
})

 console.log(app5.message);
</script>
{/block}