{extend name="index"/}
{block name="title"}
教师管理
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>教室编号</th>
        <th>操作</th>
    </tr>
    {volist name="classrooms" id="classroom" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$classroom->getData('name')}</td>
        <td>
            <a class="btn btn-success btn-sm" href="{:url('SeatMap/index?id=' . $classroom->getData('id'))}"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;查看座位图</a>
            <a class="btn btn-danger btn-sm" href="{:url('delete?id=' . $classroom->getData('id'))}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>
            <a class="btn btn-sm btn-primary" href="{:url('edit?id=' . $classroom->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a></td>
    </tr>
    {/volist}
</table>
{/block}
{block name="render"}
{$classrooms->render()}
{/block}
