{extend name="index" \}
{block name="title"}
模板添加
{/block}
{block name="search"}
{/block}
{block name="search1"}
{/block}
{block name="hr1"}
{/block}
{block name="hr2"}
{/block}
{block name="Add"}
{/block}
{block name="content"}
<div class="container">
    <label style="font-size: 15px;">请根据需要选择过道或者座位：</label>
    <hr>
    <table>
        <table class="table table-bordered table-condensed ">
            <?php $x = 0; ?>
            <?php for($i = 0; $i < $SeatMap->x_map; $i++): ?>
            <tr>
                <?php $y = 0; ?>
                <?php for($j = 0; $j < $SeatMap->y_map; $j++): ?>
                <td>
                    <a href="{:url('isSeat?id=' . $seats[$i][$j]->getData('id') . '&classroomId=' . $Classroom->id)}">
                        {eq name='$seats[$i][$j]->getData("is_seat")' value='0'}
                        <button class="btn btn-success" style="height: 50px;width: 80px;">座位 {$x}{$y}
                            <?php $y++;?>
                        </button>
                        {else /}
                        <button class="btn btn-default" style="height: 50px;width: 80px;">过道
                        </button>
                        {/eq}
                    </a>
                </td>
                <?php endfor; ?>
            </tr>
            <?php if($y === 0): ?>
            <?php $x--; ?>
            <?php endif; ?>
            <?php $x++; ?>
            <?php endfor; ?>
        </table>
        <div style="margin-left: auto;margin-right: auto;">
            <a href="{:url('edit?id=' . $Classroom->id)}"><button type="submit" class="btn btn-default glyphicon glyphicon-ok" style="margin-top: 20px" style="padding-right: auto;padding-left: auto;">提交</button></a></div>
</div>
{/block}
<th>
    <a href="{:url('isSeat?id=' . $seat->getData('id') ,'&classroomId=' . $Classroom->id)}">
        {eq name='seat->getData("is_seat")' value='0'}
        <button class="btn btn-success">座位
            <?php echo($seat->x); echo($seat->y) ?>
        </button>
        {else /}
        <button class="btn btn-default">过道
            <?php echo($seat->x); echo($seat->y) ?>
        </button>
        {/eq}
    </a>
</th>