<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>高等数学编辑</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>

<body class="container">

    <!-- 菜单导航 -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
<li class="active"><a href="index.html">课程管理</a></li>
                            <li><a href="course.html">上课管理</a></li>
                            <li><a href="grade.html">成绩管理</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    <!-- /菜单导航 -->

    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">姓名</label>
                            <input name="name" type="text" class="form-control" placeholder="课程名称" value="">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                    <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;学生信息导入</a>
                </div>
            </div>
            <hr /> 
        </div>
    </div>


    <!--课程信息展示-->
    <div class="container">
    	<div class="row">
    		<div class="col">
    			<table class="table table-hover table-bordered">
        <tr class="info">
            <th>序号</th>
            <th>课程名称</th>
            <th>上课地点</th>
            <th>学生姓名</th>
            <th>学生学号</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>1</td>
            <td>高等数学</td>
            <td>B115</td>
            <td>张三</td>
            <td>195717</td>
            <td><a href="studentEdit.html">编辑</a> &nbsp;&nbsp;<a href="{:url('delete?id=' . $_teacher->getData('id'))}">删除</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>高等数学</td>
            <td>B115</td>
            <td>李四</td>
            <td>195718</td>
            <td><a href="{:url('edit?id=' . $_teacher->getData('id'))}">编辑</a> &nbsp;&nbsp;<a href="{:url('delete?id=' . $_teacher->getData('id'))}">删除</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>高等数学</td>
            <td>B115</td>
            <td>王五</td>
            <td>195719</td>
            <td><a href="{:url('edit?id=' . $_teacher->getData('id'))}">编辑</a> &nbsp;&nbsp;<a href="{:url('delete?id=' . $_teacher->getData('id'))}">删除</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>高等数学</td>
            <td>B115</td>
            <td>赵六</td>
            <td>195720</td>
            <td><a href="studentEdit.html">编辑</a> &nbsp;&nbsp;<a href="{:url('delete?id=' . $_teacher->getData('id'))}">删除</a></td>
        </tr>
    </table>

    		</div>
    	</div>
    </div>
</body>

</html>