<!DOCTYPE html>
<html>
<head>
	<title>学生信息编辑</title>
</head>
<body>
	
<form action="" method="post">
    <label>姓名:</label>
    <input type="hidden" name="id" value="{$Teacher->id}" />
    <input type="text" name="name" value="郝泽龙" />
    <label>学号:</label>
    <input type="text" name="username" value="195717" />
    <label>性别:</label>
    <select name="sex">
        <option value="0">男</option>
        <option value="1" {eq name="Teacher->sex" value="1" }selected="selected" {/eq}>女</option>
    </select>
    <label>签到分数:</label>
    <input type="text" name="username" value="80" />
    <button type="submit"><a href="studentUpdate.html"> 保存</a></button>
</form>

</body>
</html>