{extend name="index"/}
{block name="title"}
学期管理
{/block}
{block name="search"}
<label class="sr-only" for="name">学期名</label>
<input name="name" type="text" class="form-control" placeholder="学期名..." value="{:input('get.name')}" />
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>学期名</th>
        <th>起始时间</th>
        <th>创建时间</th>
        <th>更新时间</th>
        <th>操作</th>
    </tr>
    {volist name="terms" id="term" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$term->getData('name')}</td>
        <td>{$term->getData('ptime')}</td>
        <td>{$term->create_time}</td>
        <td>{$term->update_time}</td>
        <td>
            <a class="btn btn-sm btn-primary" href="{:url('edit?id=' . $term->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
            <a class="btn btn-danger btn-sm" href="{:url('delete?id=' . $term->getData('id'))}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>&nbsp;</td>
    </tr>
    {/volist}
</table>
{/block}
{block name="page"}
{$terms->render()}
{/block}