{extend name="menu"/}
{block name="title"}
成绩管理
{/block}
{block name="content"}
<table class="table table-hover table-bordered" style="200px;">
    <td><label>课程名称：{$course->name}</label></td>
    <td>
        <form action="{:url('fileExportGrade?courseId=' . $course->id)}">
            <button class="btn btn-warning">导出表单</button>
    </td>
    <td style="float: right;">
    <a href="{:url('listindex?id=' . $course->getData('id'))}"  class="btn btn-primary">&nbsp;降序</a>
    <a href="{:url('upindex?id=' . $course->getData('id'))}" class="btn btn-info">&nbsp;升序</a>
    </td>
</table>
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>姓名</th>
        <th>学号</th>
        <th>考勤成绩</th>
        <th>表现成绩</th>
        <th>总成绩</th>
        <th>操作</th>
    </tr>
    {volist name="grades" id="_grade" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_grade->Student->name}</td>
        <td>{$_grade->Student->num}</td>
        <td>{$_grade->getUsgrade()}</td>
        <td>{$_grade->coursegrade}</td>
        <td>{$_grade->getAllgrade()}</td>
        <td><a class="btn btn-sm btn-primary" href="{:url('edit?id=' . $_grade->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;成绩编辑</a>&nbsp;</td>
    </tr>
    {/volist}
</table>
{$grades->render()}
{/block}
{block name="page"}
{/block}