{extend name="menu"/}
{block name="title"}
教师管理
{/block}
{block name="search"}
<div class="row" style="margin-top: 20px;">
    <div class="col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <input name="name" type="text" class="form-control" placeholder="课程名称..." value="{:input('get.name')}">
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
        </form>
    </div>
</div>
{/block}
{block name="content"}
<div class="text-right">
    <a href="{:url('course/add?id=' . $Teacher->id)}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
    <hr>
</div>
<table class="table table-hover table-bordered">
    {eq name="$Term" value=""}
    <tr><label style="font-size: 15px;">当前无学期开放，请联系管理员开放学期</label></tr>
    {else /}
    <tr><label style="font-size: 15px;">当前学期:{:$Term->name}</label></tr>
    {/eq}
    <tr class="info">
        <th>序号</th>
        <th>课程名称</th>
        <th>学生人数</th>
        <th>学生列表</th>
        <th>操作</th>
    </tr>
    {volist name="courses" id="_course" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_course->getData('name')}</td>
        <td>{$_course->student_num = sizeof($_course->Students)}</td>
        <td><a class="btn btn-info" href="{:url('student/index?id=' . $_course->id)}"><i class="glyphicon glyphicon-user"></i>&nbsp;点击查看</a>&nbsp;</td>
        <td>
            <a class="btn btn-sm btn-primary" href="{:url('course/courseedit?id=' . $_course->id)}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>&nbsp;&nbsp;<a class=" btn btn-danger btn-sm" href="{:url('course/delete?id=' . $_course->id)}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a></td>
    </tr>
    {/volist}
</table>
{$courses->render()}
{/block}
{block name="page"}
{/block}