<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>学生扫码</title>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body class="container-fluid text-center" class="text-center" style="background-color: #00CCFF">
	<br>
   <br>
   <br>
   <br>
    <h3 class="text-center">温宇航教师您好</h3>
    <h3>你现在位于<u>A106教室</u></h3>
    <h3>现在是<u> 划水 </u>课</h3>
   <!--  <p>老师尚未发布签到</p> -->
   <br>
   <br>
   <br>
   <br>
   <a href="Qiandao.html"><button class="btn btn-default" type="button">发起签到</button></a>
    
    <br>
    <br>
    <button class="btn btn-default" type="button" onclick="alert('温宇航')">随机点名</button>
    <br>
    <br>
    <button class="btn btn-default" type="button" onclick="alert('课程结束，课后情况请留意微信端')"><a href="index.html">点我下课</a></button>
    </div>
</body>

</html>