{extend name="edit"/} 
{block name="title"}
{eq name="Course->id" value=""}添加课程{else /}编辑课程{/eq}
{/block}
{block name="content"}
{php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
<form action="{:url($action)}" method="post">
    <label>课程名称:</label>
    <input type="hidden" name="id" value="{$Course->id}" />
    <input type="text" name="name" value="{$Course->name}" />
    <label>选择学生信息:</label>
    <input type="file" id="exampleInputFile">
    <button type="submit">保存</button> 
</form>
{/block}