<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <title>编辑数据</title>
</head>

<body class="contanier">
    <div class="row">
        <div class="col-md-12">
            <form action="{:url('update')}" method="post">
                <label>姓名:</label>
                <input type="hidden" name="id" value="{$Teacher->getData('id')}" />
                <input type="text" name="name" value="{$Teacher->getData('name')}" />
                <label>工号</label>
                <input type="text" name="teacher_id" value="{$Teacher->getData('teacher_id')}" />
                
                        <button type="submit">保存</button>
            </form>
        </div>
    </div>
</body>

</html>