<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>新增数据</title>
</head>

<body class="contanier">
    <div class="row">
        <div class="col-md-12">
            {php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
            <form action="{:url($action)}" method="post">
                <input type="hidden" name="id" value="{$Teacher->getData('id')}" />
                <label for="name">姓名:</label><input type="text" name="name" id="name" value="{$Teacher->name}" />
                <label for="name">工号:</label><input type="text" name="teacher_id" id="teacher_id" value="{$Teacher->teacher_id}" />
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
</body>

</html>