<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>发起签到</title>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body class="container-fluid text-center" class="text-center" style="background-color: #00CCFF">
	<br>
   <br>
   <br>
   <br>
    <h3 class="text-center">温宇航老师您好</h3>
    <h3>你现在位于<u>A106教室</u></h3>
    <h3>本课程是<u>划水课</u></h3>
    <h3>以下是学生<u>李二牛</u></h3>
   <!--  <p>老师尚未发布签到</p> -->
   <br>
   <br>
   <br>
   <br>
   <form>
  <!-- <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div> -->
  
  <button type="submit" class="btn btn-default" onclick="alert('应到人数100人 实到人数99人 未到人员：温宇航')"><a href="Qiandao2.html">确认保存</a></button>
</form>
   
</body>

  
</html>