<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>发起签到</title>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body class="container-fluid text-center" class="text-center" style="background-color: #00CCFF">
    <br>
    <br>
    <br>
    <br>
    <h3 class="text-center">温宇航老师您好</h3>
    <h3>你现在位于<u>A106教室</u></h3>
    <h3>本课程是<u>划水课</u></h3>
    <h3>本次签到情况如下</h3>
    <!--  <p>老师尚未发布签到</p> -->
    <br>
    <h3>应到人数<u>100</u>人</h3>
    <h3>实到人数<u>98</u>人</h3>
    <br>
    <br>
    <br>
    <h3>未到人员名单如下</h3>
    <table class="table table-hover table-bordered">
        <tr class="info">
            <th>学号</th>
            <th>姓名</th>
            <th>成绩变化</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>195730</td>
            <td>李二牛</td>
            <td>-3</td>
           <td>
                <a class="btn btn-danger btn-sm" href="Edit.html"><i class="glyphicon glyphicon-pencil
"></i>&nbsp;补签</a></td>
        </tr>
        <tr>
            <td>195782</td>
            <td>李四牛</td>
            <td>-3</td>
            <td>
                <a class="btn btn-danger btn-sm" href="Edit.html"><i class="glyphicon glyphicon-pencil
"></i>&nbsp;补签</a></td>
        </tr>
        <tr>
            <td>195730</td>
            <td>李三牛</td>
            <td>-3</td>
            <td>
                <a class="btn btn-danger btn-sm" href="Edit.html"><i class="glyphicon glyphicon-pencil
"></i>&nbsp;补签</a></td>
        </tr>
        <tr>
            <td>195730</td>
            <td>李三牛</td>
            <td>-3</td>
            <td>
                <a class="btn btn-danger btn-sm" href="Edit.html"><i class="glyphicon glyphicon-pencil
"></i>&nbsp;补签</a></td>
        </tr>
        <tr>
            <td>195730</td>
            <td>李三牛</td>
            <td>-3</td>
            <td>
                <a class="btn btn-danger btn-sm" href="Edit.html"><i class="glyphicon glyphicon-pencil
"></i>&nbsp;补签</a></td>
        </tr>
        <tr>
            <td>195730</td>
            <td>李三牛</td>
            <td>-3</td>
            <td>
                <a class="btn btn-danger btn-sm" href="Edit.html"><i class="glyphicon glyphicon-pencil
"></i>&nbsp;补签</a></td>
        </tr>
    </table>
    <form>
        <!-- <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div> -->
        <button type="submit" class="btn btn-default" onclick="alert('修改成功')"><a href="ClassGoon">确定保存</a></button>

    </form>
</body>

</html>