{extend name="index"/}
{block name="title"}
课程管理
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>课程名称</th>
        <th>学生人数</th>
        <th>学期</th>
        <th>操作</th>
    </tr>
    {volist name="courses" id="_course" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_course->getData('name')}</td>
        <td></td>
        <td>{$teacher->term}</td>
        <td><a href="{:url('/index?id=' . $_course->id)}">编辑</a> &nbsp;&nbsp;<a href="{:url('delete?id=' . $_course->getData('id'))}">删除</a></td>
    </tr>
    {/volist}
</table>
{/block}
{block name="page"}
{/block}