{extend name="index" /}
{block name="title"}
增加学生
{/block}
{block name="hr1"}
{/block}
{block name="hr2"}
{/block}
{block name="search"}
{/block}
{block name="search1"}
{/block}
{block name="Add"}
{/block}
{block name="content"}
<div class="container">
    <form action="{:url('save')}" method="post">
        <input type="hidden" name="httpref" value="{$_SERVER['HTTP_REFERER']}">
        <input type="hidden" name="password" value="{$password}">
        <div class="form-group">
            <label for="name" style="font-size: 20px;margin-top: 40px">姓名</label>
            <input type="text" name="name" id="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="num" style="font-size: 20px;margin-top: 20px">学号</label>
            <input type="text" name="num" id="num" class="form-control" />
        </div>
        <div class="form-group">
            <label for="sex" style="font-size: 20px;margin-top: 20px">性别</label>
            <select name="sex" class="form-control">
                <option value="0">男</option>
                <option value="1">女</option>
            </select>
        </div>
        
       
        <button type="submit" class="btn btn-primary glyphicon glyphicon-ok" onClick="return confirm('确定新增，该学生的初始密码将为{$password}！');">
            &nbsp;提交
        </button>
    </form>
</div>
{/block}
{block name="render"}
{/block}