{extend name="index" /}
{block name="title"}
增加学生
{/block}
{block name="hr1"}
{/block}
{block name="hr2"}
{/block}
{block name="search"}
{/block}
{block name="search1"}
{/block}
{block name="Add"}
{/block}
{block name="content"}
<div class="container">
    <form action="{:url('save')}" method="post">
        <input type="hidden" name="httpref" value="{$_SERVER['HTTP_REFERER']}">
        <div class="form-group">
            <label for="name" style="font-size: 20px;margin-top: 40px">姓名</label>
            <input type="text" name="name" id="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="num" style="font-size: 20px;margin-top: 20px">学号</label>
            <input type="text" name="num" id="num" class="form-control" />
        </div>
        <div class="form-group">
            <label for="sex" style="font-size: 20px;margin-top: 20px">性别</label>
            <select name="sex" class="form-control">
                <option value="0">男</option>
                <option value="1">女</option>
            </select>
        </div>
        <div class="form-group">
            <label for="email" style="font-size: 20px;margin-top: 20px">邮箱</label>
            <input type="email" name="email" id="email" class="form-control" />
        </div>
        <div class="form-group">
            <label style="font-size: 20px;margin-top: 20px">对应课程</label>
            <br>
           
                {volist name="Student->courses()->select()" id="course"}
                <input type="checkbox" name="courseId[]" id="courseId_{$course->id}" value="{$course->id}" /> <label for="courseId_{$course->id}">{$course->name}</label>
                {/volist}
           
        </div> 
        <button type="submit" class="btn btn-primary">
            submit
        </button>
    </form>
</div>
{/block}
{block name="render"}
{/block}