{extend name="index" /}
{block name="title"}
学生管理
{/block}
{block name="search"}
<label class="sr-only" for="name">姓名</label>
<input name="name" type="text" class="form-control" placeholder="学号..." value="{:input('get.name')}">
{/block}
{block name="Add"}
{eq name="$match" value="1"}
{else/}
<div class="col-md-4 text-right">
    <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
</div>
{/eq}
{/block}
{block name="content"}
{eq name="$match" value="1"}
<b style="font-size: 15px; float: left; padding-top: 3px; margin-bottom: 20px">课程名称：{$Course->name}</b>
{else/}
{/eq}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>姓名</th>
        <th>学号</th>
        {eq name="$match" value="1"}
        {else/}
        <th>操作</th>
        {/eq}
    </tr>
    {eq name="$match" value="1"}
    {volist name="coursestudents" id="coursestudent" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$coursestudent->Student->getData('name')}</td>
        <td>{$coursestudent->Student->getData('num')}</td>
    </tr>
    {/volist}
    {else /}
    {volist name="students" id="Student" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$Student->getData('name')}</td>
        <td>{$Student->getData('num')}</td>
        <td>
            <a class="btn btn-sm btn-warning" onClick="return confirm('密码将重置为{$password = mt_rand(100000, 999999);}，确定重置？')" href="{:url('passwordReset?id=' . $Student->getData('id') . '&password=' . $password)}" >
                <i class="glyphicon glyphicon-asterisk"></i>
                &nbsp;重置密码
            </a>
            <a class="btn btn-sm btn-danger" href="{:url('delete?id=' . $Student->getData('id'))}" onClick="return confirm('将删除与该学生相关的全部信息，确定删除？')">
                <i class="glyphicon glyphicon-trash"></i>
                &nbsp;删除
            </a>
        </td>
    </tr>
    {/volist}
    {/eq}
</table>
{/block}
{block name="render"}
{eq name="$match" value="1"}
{$coursestudents->render()}
{else/}
{$students->render()}
{/eq}
{/block}