{extend name="index" /}
{block name="title"}
学生管理
{/block}
{block name="search"}
<label class="sr-only" for="name">姓名</label>
<input name="name" type="text" class="form-control" placeholder="姓名..." value="{:input('get.name')}">
{/block}
{block name="Add"}
<div class="col-md-4 text-right">
    <a href="{:url('add?courseId=' . $courseId)}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;增加</a>
</div>
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>姓名</th>
        <th>学号</th>
        <th>操作</th>
    </tr>
    {volist name="coursestudents" id="coursestudent" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$coursestudent->Student->getData('name')}</td>
        <td>{$coursestudent->Student->getData('num')}</td>
        <td>
            <a class="btn btn-sm btn-primary" href="{:url('edit?id=' . $coursestudent->Student->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
            <a class="btn btn-sm btn-warning" href="{:url('passwordReset?id=' . $coursestudent->Student->getData('id'))}" onClick="return confirm('密码将重置为123456，确定重置？')">
                <i class="glyphicon glyphicon-pencil"></i>
                &nbsp;重置密码
            </a>
            <a class="btn btn-danger btn-sm" href="{:url('delete?id=' . $coursestudent->Student->getData('id'))}"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>&nbsp;
        </td>
    </tr>
    {/volist}
</table>
{/block}
{block name="render"}
{$coursestudents->render()}
{/block}
