{extend name="index"/}
{block name="title"}
加减分
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>学生姓名</th>
        <th>学生学号</th>
        <th>当前上课分数</th>
        <th>操作</th>
    </tr>
    {volist name="grades" id="_grade" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$_grade->Student->name}</td>
        <td>{$_grade->Student->num}</td>
        <td>{$_grade->coursegrade}</td>
        <td><a class="btn btn-sm btn-primary" href="/index/Gradeaod/index?id={$_grade->Student->id}&aod_id=1&grade_id={$_grade->id}&course_id={$course->id}">加分</a> &nbsp;&nbsp;<a class=" btn btn-danger btn-sm" href="{:url('Gradeaod/index?id=' . $_grade->Student->id. '&grade_id=' . $_grade->id. '&aod_id=0&course_id=' . $course->id)}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;减分</a></td>
    </tr>
    {/volist}
</table>
{$grades->render();}
{/block}
{block name="page"}
{/block}