{extend name="menu"/}
{block name="title"}
加减分
{/block}
{block name="content"}
<table class="table table-hover table-bordered">
    <tr class="info">
        <th>序号</th>
        <th>学生姓名</th>
        <th>学生学号</th>
        <th>当前上课分数</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>1</td>
        <td>{$Student->name}</td>
        <td>{$Student->num}</td>
        <td>{$Grade->coursegrade}</td>
        <td><a class="btn btn-sm btn-primary" href="/index/Gradeaod/index?studentId={$Student->id}&aodId=1&classroomId={$Classroom->id}">加分</a> &nbsp;&nbsp;
            <a class=" btn btn-danger btn-sm" href="/index/Gradeaod/index?studentId={$Student->id}&aodId=0&classroomId={$Classroom->id}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;减分</a></td>
    </tr>
</table>
{/block}
{block name="page"}
{/block}