<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加</title>
</head>

<body>
    <form action="{:url('save')}" method="post">
        <label for="name">课程名</label>
        <input type="text" name="name" id="name">
        <select name="teacher_id" id="teacher">
            {volist name="teachers" id="_Teacher"}
            <option value="{$_Teacher->getData('id')}">{$_Teacher->getData('name')}</option>
            {/volist}
        </select>
        <button type="submit">submit</button>
    </form>
</body>

</html>