<!DOCTYPE html>
<html>
<head>
	<title>成绩查看与操作</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<style>
body{margin:0;padding:0;font-size:12px;}
.scale_panel{color:#999;width:200px;position:absolute;line-height:18px;left:60px;top:-0px;}
.scale_panel .r{float:right;}
.scale span{background:url(images/scroll.gif) no-repeat;width:8px;height:16px;position:absolute;left:-2px;top:-5px;cursor:pointer;}
.scale{ background-repeat: repeat-x; background-position: 0 100%; background-color: #E4E4E4; border-left: 1px #83BBD9 solid;  width: 200px; height: 3px; position: relative; font-size: 0px; border-radius: 3px; }
.scale div{ background-repeat: repeat-x; background-color: #3BE3FF; width: 0px; position: absolute; height: 3px; width: 0; left: 0; bottom: 0; }
.lanren li{font-size:12px;line-height:50px;position:relative;height:50px;list-style:none;}
</style>
</head>
<body class="container">

	    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">梦云智</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html">课程管理</a></li>
                            <li><a href="course.html">上课管理</a></li>
                            <li><a href="grade.html">成绩管理</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">注销</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>

    <!--签到与上课表现成绩占比设置-->
    <div class="container" style="margin-top: 20px;margin-bottom: 50px;">
    	<div class="row">
    <form action="" method="post">	
    <br>
    <label>签到成绩占比</label>
    <input type="hidden" name="id" value="{$Teacher->id}" />
    <input type="text" name="name" value="0.8" />
    <label>上课表现成绩占比</label>
    <input type="text" name="username" value="0.2" />
    
    <button type="submit" onclick="alert('上课表现成绩占比设置成功')"><a href="#"> 保存</a></button>
    <br>
    <label>上课表现成绩分数上限设置</label>
    <input type="text" name="username" value="100" />
    <button type="submit" onclick="alert('上课表现成绩占比设置成功')"><a href="#"> 保存</a></button>
    </div>
    </div>

<div style="width: 500px;margin-top: 10px;">

    <div style="float: left;"> <ul>奖励</ul></div>
        <div style="float: left;margin-left: -100px;">
    <ul class="lanren">
    <li>
        <div class="scale_panel">
        <span id="title">0</span>
            <div class="scale" id="bar">
                <div></div>
                <span id="btn"></span>
            </div>
        </div>
    </li>
</ul>
<script>
var scale = function (btn,bar,title){
    this.btn=document.getElementById(btn);
    this.bar=document.getElementById(bar);
    this.title=document.getElementById(title);
    this.step=this.bar.getElementsByTagName("div")[0];
    this.init();
};
scale.prototype={
    init:function (){
        var f=this,g=document,b=window,m=Math;
        f.btn.onmousedown=function (e){
            var x=(e||b.event).clientX;
            var l=this.offsetLeft;
            var max=f.bar.offsetWidth-this.offsetWidth;
            g.onmousemove=function (e){
                var thisX=(e||b.event).clientX;
                var to=m.min(max,m.max(-2,l+(thisX-x)));
                f.btn.style.left=to+'px';
                f.ondrag(m.round(m.max(0,to/max)*100),to);
                b.getSelection ? b.getSelection().removeAllRanges() : g.selection.empty();
            };
            g.onmouseup=new Function('this.onmousemove=null');
        };
    },
    ondrag:function (pos,x){
        this.step.style.width=Math.max(0,x)+'px';
        this.title.innerHTML=pos+'%';
    }
}
new scale('btn','bar','title');
</script>
</div>
<div style="float: left;margin-left: 160px;">
<ul>惩罚</ul>
</div>
</div>
    <!--查询功能-->
     <div class="row">
    <div class="col-md-12">
        <hr />
        <div class="row">
            <div class="col-md-8">
                <form class="form-inline">
                    <div class="form-group" style="width: 150px;float: left;">
                        <label class="sr-only" for="name">姓名</label>
                        <input name="name" type="text" class="form-control" placeholder="学生学号..." value="">
                    </div>
                    <button type="submit" class="btn btn-default" style="float: left;"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                </form>
            </div>
            <div class="col-md-4 text-right">
                <a href="gradeSort.html" class="btn btn-primary">按名次排列</a>
            </div>
        </div>
        <hr />
    </div>
</div>
    <!--最终成绩展示-->
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover table-bordered">
                    <tr class="info">
                        <th>序号</th>
                        <th>学生姓名</th>
                        <th>学生学号</th>
                        <th>签到成绩</th>
                        <th>上课表现成绩</th>
                        <th>最终成绩</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>郝泽龙</td>
                        <td>1</td>
                        <td>78</td>
                        <td>2</td>
                        <td>79</td>
                        <td><a href="gradeEdit.html">编辑</a> &nbsp;&nbsp;
                        	</td>
                    </tr>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>温宇航</td>
                        <td>2</td>
                        <td>96</td>
                        <td>90</td>
                        <td>93</td>
                        <td><a href="{:url('edit?id=' . $_teacher->getData('id'))}">编辑</a> &nbsp;&nbsp;
                        	</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>陈丽婷</td>
                        <td>3</td>
                        <td>86</td>
                        <td>76</td>
                        <td>82</td>
                        <td><a href="{:url('edit?id=' . $_teacher->getData('id'))}">编辑</a> &nbsp;&nbsp;
                        	</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>张三</td>
                        <td>4</td>
                        <td>84</td>
                        <td>82</td>
                        <td>83</td>
                        <td><a href="{:url('edit?id=' . $_teacher->getData('id'))}">编辑</a> &nbsp;&nbsp;
                        	</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>